<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row no-gutter">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-heading">
            <div class="col-md-8">
              <h2>Google Map</h2>
              <small>Welcome to the bus direction</small>
            </div>
            <div class="col-md-4">
              <md-button ng-if="currentUser.permissions.buses.edit && !isEditing" class="md-raised md-primary"
                         ng-class="{'pull-right': !app.setting.rtl, 'pull-left': app.setting.rtl}"
                         translate="bus.actions.edit" ng-click="startEdit()"></md-button>

              <md-button class="md-raised"
                         ng-class="{'pull-right': !app.setting.rtl, 'pull-left': app.setting.rtl}"
                         translate="Update Map" ng-click="initMap()"></md-button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12" ng-if="!dick">
                <ng-map zoom="14"
                        style="height: 600px">
                  <directions ng-repeat="direction in directions"
                              draggable="true"
                              panel="directions-panel"
                              travel-mode="DRIVING"
                              origin="{{direction.origin.lat}}, {{direction.origin.lng}}"
                              waypoints="{{direction.wayPoints}}"
                              destination="{{direction.destination.lat}}, {{direction.destination.lng}}" ,
                              suppress-markers="true"
                  >
                  </directions>
                  <marker ng-repeat="stop in stops"
                          position="{{stop.stop.lat}}, {{stop.stop.lng}}"
                          draggable="true"
                          on-dragend="justLog(this, {{stop}})"
                          label="{{stop.stop.arName}}"
                          title="{{stop.stop.arName}}"
                          icon="{{stop.stop.new? 'http://maps.google.com/mapfiles/ms/icons/green-dot.png': ''}}"
                  >
                  </marker>
                </ng-map>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="isEditing">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row no-gutter">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default table-responsive">
                  <div class="panel-heading" ng-class="{'dir-rtl': app.setting.rtl}">
                    <h2 translate="stop.listPage.title"></h2>
                    <md-button ng-if="currentUser.permissions.buses.edit && isEditing" class="md-raised md-primary"
                               ng-class="{'pull-right': !app.setting.rtl, 'pull-left': app.setting.rtl}"
                               translate="bus.actions.save" ng-click="saveEdit()"></md-button>
                    <md-select ng-model="newStop" class="md-default-theme col-md-4" ng-class="{'pull-right': !app.setting.rtl, 'pull-left': app.setting.rtl}">
                      <md-option ng-repeat="stop in allStops" ng-value="stop"> {{stop.arName}} </md-option>
                    </md-select>
                    <md-button ng-if="currentUser.permissions.buses.edit && isEditing" class="md-raised md-default"
                               ng-class="{'pull-right': !app.setting.rtl, 'pull-left': app.setting.rtl}" ng-disabled="!newStop"
                               translate="bus.actions.addStop" ng-click="addStop(newStop)"></md-button>

                  </div>
                  <table ng-table="stopsTable" class="table table-striped table-vmiddle table-hover table-condensed"
                         ng-class="{'rtl': app.setting.rtl}"
                         template-pagination="views/templates/ng-table-pager-template.html">
                    <thead>
                    <tr>
                      <th translate="stop.name"></th>
                      <th translate="stop.lat"></th>
                      <th translate="stop.lng"></th>
                      <th translate="stop.order"></th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in $data" ng-if="$data.length">
                      <td ng-switch="isEditing"><span ng-switch-default>{{row.arName}}</span>
                        <div ng-switch-when="true">
                          <input type="text" class="md-input" ng-model="row.arName">
                        </div>
                      </td>
                      <td ng-switch="isEditing"><span ng-switch-default>{{row.lat}}</span>
                        <div class="controls" ng-switch-when="true">
                          <input type="number" class="md-input" ng-model="row.lat">
                        </div>
                      </td>
                      <td ng-switch="isEditing"><span ng-switch-default>{{row.lng}}</span>
                        <div class="controls" ng-switch-when="true">
                          <input type="number" class="md-input" ng-model="row.lng">
                        </div>
                      </td>
                      <td ng-switch="isEditing"><span ng-switch-default>{{row.order}}</span>
                        <div class="controls" ng-switch-when="true">
                          <input type="number" class="md-input" ng-model="row.order">
                        </div>
                      </td>
                      <td>
                        <md-button type="button" class="md-raised red-500" ng-click="removeStop(row)"><i
                          class="mdi mdi-content-block"></i></md-button>
                      </td>
                    </tr>
                    <tr ng-if="!$data.length && !isLoading && !isError">
                      <td class="no-data-cell" colspan="5" translate="user.listPage.noData"></td>
                    </tr>
                    <tr ng-if="isLoading">
                      <td class="no-data-cell" colspan="5" translate="global.loadingData"></td>
                    </tr>
                    <tr ng-if="isError">
                      <td class="no-data-cell" colspan="5" translate="global.errorData"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



