<!--<div class="row">-->
  <!--<div class="col-lg-12 col-md-12 col-sm-12">-->
    <!--<div class="row no-gutter">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="card">-->
          <!--<div class="card-heading">-->
            <!--<div class="col-md-8">-->
              <!--<h2>Google Map</h2>-->
              <!--<small>Welcome to the bus direction</small>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="card-body">-->
            <!--<div class="row">-->
              <!--<div class="col-md-12">-->
                <!--<div id="map"></div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col-md-12">-->
                <!--&lt;!&ndash;<ng-map zoom="14"&ndash;&gt;-->
                        <!--&lt;!&ndash;zoom-to-include-markers="true"&ndash;&gt;-->
                        <!--&lt;!&ndash;style="height: 600px">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div ng-repeat="busMap in busesMap track by $index">&ndash;&gt;-->
                    <!--&lt;!&ndash;<directions ng-repeat="direction in busMap.directions"&ndash;&gt;-->
                                <!--&lt;!&ndash;draggable="true"&ndash;&gt;-->
                                <!--&lt;!&ndash;panel="directions-panel{{$index}}"&ndash;&gt;-->
                                <!--&lt;!&ndash;travel-mode="DRIVING"&ndash;&gt;-->
                                <!--&lt;!&ndash;origin="{{direction.origin.lat}}, {{direction.origin.lng}}"&ndash;&gt;-->
                                <!--&lt;!&ndash;waypoints="{{direction.wayPoints}}"&ndash;&gt;-->
                                <!--&lt;!&ndash;destination="{{direction.destination.lat}}, {{direction.destination.lng}}" ,&ndash;&gt;-->
                                <!--&lt;!&ndash;suppress-markers="true"&ndash;&gt;-->
                                <!--&lt;!&ndash;polyline-options='{strokeColor: "{{busMap.color}}"}'&ndash;&gt;-->
                    <!--&lt;!&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</directions>&ndash;&gt;-->
                    <!--&lt;!&ndash;<marker ng-repeat="stop in busMap.stops"&ndash;&gt;-->
                            <!--&lt;!&ndash;position="{{stop.stop.lat}}, {{stop.stop.lng}}"&ndash;&gt;-->
                            <!--&lt;!&ndash;draggable="false"&ndash;&gt;-->
                            <!--&lt;!&ndash;label="{{stop.stop.arName}}"&ndash;&gt;-->
                    <!--&lt;!&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</marker>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</ng-map>&ndash;&gt;-->
                <!--<div id="directionsPanel" ></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div id="map" style="float:left;width:100%; height:100%"></div>
<!--<div id="directionsPanel" style="float:right;width:30%;height: 100%"></div>-->