<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row no-gutter">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-heading">
            <div class="col-md-8">
              <h2>Google Map</h2>
              <small>Welcome to the bus direction</small>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12" ng-if="!dick">
                <ng-map zoom="14" center="{{stop.lat}}, {{stop.lng}}">
                  <marker position="{{stop.lat}}, {{stop.lng}}"
                          draggable="true"
                          on-dragend="changeMarkerPosition(this, {{stop}})"
                          label="{{stop.arName}}"
                          icon="{{isNew? 'http://maps.google.com/mapfiles/ms/icons/green-dot.png': ''}}"
                  >
                  </marker>
                </ng-map>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form name="stopForm" ng-class="{'rtl': app.setting.rtl}" novalidate disable-on-loading="isLoading">
  <div layout="column" class="card" ng-class="{'rtl': app.setting.rtl}">
    <div class="card-heading">
      <h2 translate="stop.editInfo.title"></h2>
    </div>
    <md-content layout-padding>
      <md-input-container class="md-block">
        <label translate="stop.name"></label>
        <input required name="stopName" ng-model="stop.arName" auto-focus>
        <div ng-messages="stopForm.stopName.$error">
          <div ng-message="required">{{"global.field.error.required" | translate}}</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label translate="stop.lat"></label>
        <input required name="stopLat" ng-model="stop.lat">
        <div ng-messages="stopForm.stopLat.$error">
          <div ng-message="required">{{"global.field.error.required" | translate}}</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label translate="stop.lng"></label>
        <input required name="stopLng" ng-model="stop.lng">
        <div ng-messages="stopForm.stopLng.$error">
          <div ng-message="required">{{"global.field.error.required" | translate}}</div>
        </div>
      </md-input-container>
      <md-input-container>
        <md-button class="md-raised md-primary" translate="user.actions.save" ng-click="saveStop()"></md-button>
      </md-input-container>
    </md-content>
  </div>
</form>